{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block extra-js %}{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="jumbotron jumbotron-bg">
            <h1 class="display-4">This Natural Girl in Action</h1>
            <p class="lead">This is my calling, I am living my last 30 years and going full swing on the 40th with the appearance of my first silver hair! Yes you can’t really see them just yet because well they are well spread under my dark brown set of curly hair…nevertheless I can feel them growing!
It sounds so silly but yet so true…is it the never ending sleepless nights? Not self afflicted now but that s what happens when you have, like me, 2 kids under 8 and have always been a pro of the co-sleeping technique. However kind of wish it ended like ages ago.
For those who don’t know me, I was born and raised in Morocco in the most natural way possible. I saw my mum only use natural derived products, mainly oil based like the infamous argan oil, henna, rassoul and many more, I will go through all of those when time comes but for now, let’s focus back on me 😉
Ever since my first born, I have started to be more and more inclined to use natural products, babies are so delicate, we owe it to them to protect them and give them the best we can well simply because they cant yet make decisions for themselves.
My search for the organic labels had started, but I had no idea that this will take me to a deeper journey. Could I trust the label only? Of course not! The small prints say it all. I was on a hunt! The hunt to abolish toxic ingredients from our life starting from what we put on our skin.
</p>
            <hr class="my-4">
                <p>So don't be afraid to join in, I am happy sharing any reviews of my quest to stay natural and organic, drop to my blog, leave a comment and let's get chatting</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>

    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
    {% endblock %}
