{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block extra-js %}{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <div class="col-md-7 col-sm-8 my-auto">
                    <img src="{% get_media_prefix %}bg-pink-logo.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
    {% endblock %}
