<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="" id="home-link">Home</a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="" id="github-link">
                Github Projects
            </a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="" id="contact-link">Contact</a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="" id="blog-link">
                Blog
            </a>
        </li>
    </ul>
</div>
